html {
    scroll-behavior: smooth;
}
body {
    background-color: #f4f4f5;
    padding: 0;
    margin: 0;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    width: 0;
}
.sbar {
    scrollbar-width: none;
}
.sbar::-webkit-scrollbar {
    width: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 1.4s ease-in-out;
}

@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fadeup {
    animation: fadeup 1.5s ease-in-out;
}

@keyframes fadeleft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fadeleft {
    animation: fadeleft 1.5s ease-in-out;
}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fadeRight {
    animation: fadeRight 1.5s ease-in-out;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.slideDown {
    animation: slideDown 0.5s ease-in;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}
#footer:hover i {
    animation: pulse 1s infinite;
}
